COMPOSE_PROJECT_NAME=myapi

MYAPI_HTTP_PORT=8080
POSTGRES_PORT=5432

POSTGRES_DB=myapi
POSTGRES_USER=myapi
POSTGRES_PASSWORD=myapi_dev_password_2026

ASPNETCORE_ENVIRONMENT=Development

MYAPI_JWT_ISSUER=MyApi
MYAPI_JWT_AUDIENCE=MyApiClient
MYAPI_JWT_SECRET=myapi_local_dev_jwt_secret_key_2026_baghdad_001

MYAPI_DATABASE_APPLY_MIGRATIONS_ON_STARTUP=true

MYAPI_BOOTSTRAP_ADMIN_ENABLED=true
MYAPI_BOOTSTRAP_ADMIN_FULLNAME=Super Admin
MYAPI_BOOTSTRAP_ADMIN_USERNAME=superadmin
MYAPI_BOOTSTRAP_ADMIN_EMAIL=superadmin@example.local
MYAPI_BOOTSTRAP_ADMIN_PHONE=07700000000
MYAPI_BOOTSTRAP_ADMIN_ROLE=super_admin
MYAPI_BOOTSTRAP_ADMIN_PASSWORD=admin123456

SERILOG_SEQ_URL=
